libcimgui.so
libcimgui.a
imgui.ini
DImGui

deps/SDL
deps/bin/
deps/include/
deps/lib/
deps/share/

bin/renderdoc.cap

.dub/
DImGui.exe
DImGui.pdb
cimgui.dll
cimgui.exp
cimgui.lib
*.obj
*.dll
*.spv

*.so
*.o
*.a

.gradle
.idea

app/.cxx
local.properties
gradle/
app/build/
